<div class="col-md-4 offset-4 mt-4 mb-4 card card-body ">
<form>
  <h2>ADD MOVIE</h2>
  <div class="form-group">
    <label for="addmovie"></label>
    <input type="text" class="form-control" id="addmovie" aria-describedby="required" placeholder="addmovie" required>
  </div>
  <div class="form-group">
    <label for="movietitle"></label>
    <input type="text" class="form-control" id="movietitle" placeholder="movietitle" required>
  </div>
  <div class="form-group">
    <label for="movieimgurl"></label>
    <input type="text" class="form-control" id="movieimgurl" placeholder="movieimgurl" required>
  </div>
  <div class="form-group">
    <label for="moviesdescription"></label>
    <input type="text" class="form-control" id="moviedescription" placeholder="moviesdescription" required>
  </div>
 <button type="add" class="btn btn-primary float-right">ADD</button>
</form>
</div>